# Importação de bibliotecas

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import glob

# Importação de dados

In [3]:
df_automatica = pd.read_csv('CatalogoEstaçõesAutomáticas.csv',sep=";", decimal=",")
df_automatica['type'] = "automatica"
df_convencionl = pd.read_csv('CatalogoEstaçõesConvencionais.csv', sep=";", decimal=",")
df_convencionl['type'] = "convencinal"

In [4]:
df_estacao = pd.concat([df_convencionl, df_automatica], ignore_index=True, sort=False)
df_estacao

,DC_NOME,SG_ESTADO,CD_SITUACAO,VL_LATITUDE,VL_LONGITUDE,VL_ALTITUDE,DT_INICIO_OPERACAO,CD_ESTACAO,type
0,AGUA BRANCA,AL,Operante,-9.264722,-37.938056,603.42,04/05/1928,82989,convencinal
1,ALAGOINHAS,BA,Operante,-12.148611,-38.425278,129.78,31/12/1930,83249,convencinal
2,ALTAMIRA,PA,Operante,-3.214167,-52.213056,101.51,23/04/1927,82353,convencinal
3,ALTO DA BOA VISTA,RJ,Operante,-22.965833,-43.279167,347.10,31/05/1966,83007,convencinal
4,APODI,RN,Operante,-5.626667,-37.815000,131.37,17/12/1962,82590,convencinal
...,...,...,...,...,...,...,...,...,...
727,VITORIA DA CONQUISTA,BA,Operante,-14.886389,-40.801389,879.38,31/05/2007,A414,automatica
728,VOTUPORANGA,SP,Operante,-20.403333,-49.966111,510.37,03/12/2006,A729,automatica
729,XANXERE,SC,Operante,-26.938666,-52.398090,878.74,14/03/2008,A858,automatica
730,XINGUARA,PA,Operante,-7.110518,-49.926072,245.00,10/09/2016,A247,automatica
731,ZE DOCA,MA,Operante,-3.269167,-45.651111,45.50,17/09/2019,A255,automatica

In [5]:
df_estacao.DT_INICIO_OPERACAO = pd.to_datetime(df_estacao.DT_INICIO_OPERACAO)

In [6]:
df_estacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DC_NOME             732 non-null    object
 1   SG_ESTADO           732 non-null    object
 2   CD_SITUACAO         732 non-null    object
 3   VL_LATITUDE         732 non-null    float64
 4   VL_LONGITUDE        732 non-null    float64
 5   VL_ALTITUDE         732 non-null    float64
 6   DT_INICIO_OPERACAO  732 non-null    datetime64[ns]
 7   CD_ESTACAO          732 non-null    object
 8   type                732 non-null    object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 51.6+ KB

# Algumas informações sobre as estações

In [7]:
# Total de estações
len(df_estacao)

732

In [8]:
# Total de estações vs status
df_estacao.CD_SITUACAO.value_counts()

Operante    529
Pane        203
Name: CD_SITUACAO, dtype: int64

In [9]:
# Total de estações operantes vs o tipo
df_est_op = df_estacao[df_estacao.CD_SITUACAO == 'Operante' ]
df_est_op.type.value_counts()
df_est_op.type.value_counts()

automatica     368
convencinal    161
Name: type, dtype: int64

In [10]:
# Quantidade de estações pelo tipo e status
pivot_est = pd.pivot_table(df_estacao, values='DC_NOME', index=['CD_SITUACAO'],columns=['type'], aggfunc=len)
pivot_est

type         automatica  convencinal
CD_SITUACAO
Operante          368.0        161.0
Pane              203.0          NaN