<a href="https://colab.research.google.com/github/mori-mkm/UFSCar/blob/main/PAE/Nested_desing/Exemplo_Fornecedores_e_mat%C3%A9rias_primas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando as bibliotecas

In [54]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# Criando o banco de dados

In [43]:
pureza = pd.Series([1,-1,0,-2,-3,-4,-2,0,1,1,4,0,1,-2,-3,0,4,2,-1,0,-2,0,3,2,2,4,0,-2,0,2,1,-1,2,3,2,1], name= "pureza")
fornecedo = pd.Series(np.concatenate((pd.Series(np.zeros(12)).replace(0, "A")  ,pd.Series(np.zeros(12)).replace(0, "B"),
                                      pd.Series(np.zeros(12)).replace(0, "C")), axis=None), name= "fornecedor")
linha = np.concatenate((pd.Series(np.zeros(3)).replace(0,1) ,pd.Series(np.zeros(3)).replace(0,2),
                        pd.Series(np.zeros(3)).replace(0, 3) , pd.Series(np.zeros(3)).replace(0, 4)), axis=None)
linha = pd.Series(np.concatenate((linha,linha,linha),axis= None), name= "linha")

In [57]:
df = pd.concat([pureza, fornecedo, linha], axis=1)
df.linha = df.linha.astype(int)
df.head()

   pureza fornecedor  linha
0       1          A      1
1      -1          A      1
2       0          A      1
3      -2          A      2
4      -3          A      2

# Estimação dos parametros

In [58]:
mu = pureza.mean()
tau = np.concatenate((pureza[0:12].mean()-mu, pureza[12:24].mean()-mu, pureza[24:36].mean()-mu), axis=None)
beta1 = np.concatenate((pureza[0:3].mean() - pureza[0:12].mean(), pureza[3:7].mean() - pureza[0:12].mean(), pureza[7:9].mean() - pureza[0:12].mean(),  pureza[9:12].mean() -  pureza[0:12].mean()), axis=None)
beta2 = np.concatenate((pureza[12:15].mean() - pureza[12:24].mean(), pureza[15:18].mean() - pureza[12:24].mean(), pureza[18:21].mean() - pureza[12:24].mean(),  pureza[21:24].mean() - pureza[12:24].mean()), axis=None)
beta3 = np.concatenate((pureza[24:27].mean() - pureza[24:36].mean(), pureza[27:30].mean() - pureza[24:36].mean(), pureza[30:33].mean() - pureza[24:36].mean(),  pureza[33:36].mean() - pureza[24:36].mean()), axis=None)

In [ ]:
np.concatenate((mu,tau,beta1,beta2,beta3), axis=None)

array([ 0.36111111, -0.77777778, -0.02777778,  0.80555556,  0.41666667,
       -2.33333333,  0.91666667,  2.08333333, -1.66666667,  1.66666667,
       -1.33333333,  1.33333333,  0.83333333, -1.16666667, -0.5       ,
        0.83333333])

# Modelo

In [74]:
model = ols("pureza ~ fornecedo/linha", data= df).fit()

anova_results = anova_lm(model,typ=2)
print('\nANOVA results')
print(anova_results)

ANOVA results
                     sum_sq    df         F    PR(>F)
fornecedo         15.055556   2.0  1.898291  0.167389
fornecedo:linha   14.283333   3.0  1.200616  0.326396
Residual         118.966667  30.0       NaN       NaN